<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pangzi.vue_element_admin.mapper.UserMapper">
    <select id="findAll" resultType="com.pangzi.vue_element_admin.entity.User">
        SELECT * FROM user
    </select>

    <select id="findOneByUserName" parameterType="java.lang.String" resultType="com.pangzi.vue_element_admin.entity.User">
        SELECT * FROM user where user_name = #{userName}
    </select>
</mapper>