<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pangzi.vue_element_admin.mapper.UserRoleMapper">
    <delete id="deleteUserRoleByRid">
        delete from user_role where rid = #{rid}
    </delete>

    <update id="updateRoleOfUser">
        update user_role set rid = #{rid} where uid = #{id} and rid in(
            select rid from role where role_name = #{oldRoleName}
        )
    </update>
</mapper>