<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pangzi.vue_element_admin.mapper.UserMapper">
    <select id="findAll" resultType="com.pangzi.vue_element_admin.entity.User">
        SELECT * FROM user
    </select>

    <select id="findOneByUserName" parameterType="java.lang.String" resultType="com.pangzi.vue_element_admin.entity.User">
        SELECT * FROM user where user_name = #{userName}
    </select>

    <select id="findAllByUserName" parameterType="java.lang.String" resultType="com.pangzi.vue_element_admin.entity.User">
        SELECT * FROM user
        <where>
            <if test="userName!=null || userName !=''">
                user_name like concat('%',#{userName,jdbcType=VARCHAR},'%')
            </if>
        </where>
    </select>

    <update id="changeUserState">
        update user set state = #{state} where id = #{id}
    </update>

    <insert id="addOneUser" parameterType="com.pangzi.vue_element_admin.entity.User">
        insert into user(user_name,password,email,mobile,state) values (#{userName},#{password},#{email},#{mobile},#{state})
    </insert>

    <select id="findUserById" parameterType="java.lang.Integer" resultType="com.pangzi.vue_element_admin.entity.User">
        select * from user where id = #{id}
    </select>

    <update id="updateUserInfoById">
        update user set email = #{email} , mobile = #{mobile} where id = #{id}
    </update>

    <delete id="deleteUserById">
        delete from user where id = #{id}
    </delete>
</mapper>